form{
    max-width: 40em;
    /* */
    margin: 2em auto; /* o primeiro é para cima e baixo, e o segundo e para esquerda e direita */
    border: 1px solid gray;
    padding: 2em;
}
label[for]{
    display: inline-block;
    width: 7em;
}